.tool1{

    
}
.tool1 img{
 
    border: 1px soid red;
}


.tool1:hover{
    transform: translateZ(20px);
}

@media (max-width: 600px) {
    .slide1 {

margin-right: 25px;
font-size: small;
max-width: 100%;

    }

    .tool1 img{
        max-width: 100%;
        
        
        

        
        
    }

  }
  