.tool1{

    
}
.tool1 img{
    height: 50px; 
    
}
.tool1 h3{
    margin-left: -80px;
    margin-top: 5px;
}

.tool1:hover{
    transform: translateZ(20px);
}

@media (max-width: 600px) {
    .slide1 {

margin-right: 25px;
font-size: small;
max-width: 190%;

    }

    .tool1 img{
        max-width: 500%;
        
        height: 50px;
        

        
        
    }

  }
  